@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  /*alignement correct des images*/
}

body {
  font-size: 1.6rem; /* 16px par défaut */
  font-family: "Metal Mania", system-ui;
  background-color: #ffffff;
  color: #000000;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 1rem 0.5rem;
  z-index: 2;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img {
  padding: 1rem 0.5rem;
}

/**** Burger **********/
header p.burger {
  line-height: 1;
  font-size: 3rem;
  color: #000000;
}

/* Ajout de l'icône "burger" */
header p.burger::before {
  content: "☰";
}

/*** Menu à déployer **********/
header nav {
  z-index: 999; /* Pour placer le menu au-dessus des autres éléments */
  position: absolute; /* Pour créer un calque spécial pour le menu */
  top: 0; /* position en y*/
  left: -100vw; /* position en x */
  height: 100vh; /* vh = viewport height. 100vh = toute la hauteur de la fenêtre du navigateur */
  width: 100vw; /* vw = viewport width. 100vw = toute la largeur de la fenetre du navigateur */
  font-size: 2.5rem;
  text-align: center;
  background: #4F4481;
  padding: 1.2rem 2rem;
  transition: 0.5s; /* ajout d'une durée de transition */
}

nav.ouvert {
  left: 0; /* Ramener le décalage du menu à 0 */
}

/**** Icone de fermeture du menu */
#fermeture_menu {
  text-align: right;
  border: none;
  padding: 0;
  padding-bottom: 2rem;
}

/* Ajout de l'icône de fermeture */
#fermeture_menu::before {
  content: "✖";
  color: #ffffff;
}

header nav li {
  border-bottom: solid 1px #ffffff;
  padding: 2.5rem 0;
}

header nav li:last-of-type {
  border: none;
}

header nav ul a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
header nav ul a:visited {
  color: #64FF57;
}

header nav ul a:hover {
  color: #ffffff;
}

/* Responsive MQ */
@media all and (min-width: 768px) {
  #fermeture_menu, #ouverture_menu {
    display: none;
  }
  header {
    flex-wrap: wrap;
    padding: 0;
  }
  header nav {
    position: static;
    height: auto;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 1.5rem;
    background-color: #4F4481;
    padding: 0 1rem;
  }
  header nav ul {
    display: flex;
    justify-content: center;
  }
  header nav ul li {
    transition: 0.5s all ease;
    border: none;
    padding: 1rem;
  }
  header nav ul li:hover {
    border-color: #ffffff;
    background-color: #000000;
  }
}
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
  color: #000000;
  width: 100vw;
  min-height: 100dvh;
}
.presentation__titre {
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  z-index: 1;
  filter: drop-shadow(2px 1px 4px #ffffff);
}
.presentation__color {
  color: #4F4481;
}
.presentation__text {
  width: 70vw;
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  z-index: 1;
  filter: drop-shadow(2px 1px 4px #ffffff);
}
.presentation__change {
  color: #4F4481;
  transition: color 0.2s;
}
.presentation__btn {
  width: 15rem;
  min-height: 4rem;
  padding: 2rem;
  z-index: 1;
  background-color: #4F4481;
  color: #000000;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Metal Mania", system-ui;
  border: none;
  border-radius: 10px;
  margin-top: 3.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
  text-align: center;
}
.presentation__btn-change {
  filter: invert(100%);
}
.presentation__img {
  width: 40vw;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}

@media screen and (min-width: 1024px) {
  .presentation__titre {
    font-size: 10vw;
  }
  .presentation__text {
    font-size: 3vw;
  }
  .boxes {
    margin-top: 50vh;
    width: 40%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 150rem;
  }
  .active.box {
    top: 0;
    left: 0;
    transition: all 0.5s;
  }
  .box {
    transform-style: preserve-3d;
    transform: rotateY(45deg) rotateX(30deg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
  }
  @keyframes boxAnim {
    0% {
      transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }
  .box-1 {
    left: -25rem;
    top: -6rem;
    animation: boxAnim 100s infinite linear;
  }
  .box-2 {
    left: -11rem;
    top: -23rem;
    animation: boxAnim 100s -10s infinite linear;
  }
  .box-3 {
    left: 10rem;
    top: -23rem;
    animation: boxAnim 100s -20s infinite linear;
  }
  .box-4 {
    left: 25rem;
    top: -6rem;
    animation: boxAnim 100s -30s infinite linear;
  }
  .box-5 {
    left: 22rem;
    top: 13rem;
    animation: boxAnim 100s -40s infinite linear;
  }
  .box-6 {
    left: 0;
    top: 25rem;
    animation: boxAnim 100s -50s infinite linear;
  }
  .box-7 {
    left: -21rem;
    top: 14rem;
    animation: boxAnim 100s -60s infinite linear;
  }
  .active.box div {
    width: 16rem;
    height: 16rem;
    transition: all 0.2s 0.5s ease-in-out;
  }
  .box div {
    width: 7rem;
    height: 7rem;
    background-color: #4F4481;
    position: absolute;
    opacity: 0.8;
    box-shadow: 0.1rem 0.1rem 0.1rem #eee inset, -0.1rem -0.1rem 0.1rem #eee inset, 0.1rem 0.1rem 3.5rem rgba(255, 255, 255, 0.2), -0.1rem -0.1rem 3.5rem rgba(255, 255, 255, 0.2);
  }
  .box-1 div {
    background-color: #64FF57;
  }
  .box-2 div {
    background-color: #4F4481;
  }
  .box-3 div {
    background-color: #2368FB;
  }
  .box-4 div {
    background-color: #FF321A;
  }
  .box-5 div {
    background-color: #FE86FF;
  }
  .box-6 div {
    background-color: #04EEFF;
  }
  .box-7 div {
    background-color: #FFCD01;
  }
  .top-side {
    transform: rotateX(90deg) translateZ(3.5rem);
  }
  .bottom-side {
    transform: rotateX(90deg) translateZ(-3.5rem);
  }
  .front-side {
    transform: translateZ(3.5rem);
  }
  .back-side {
    transform: translateZ(-3.5rem);
  }
  .right-side {
    transform: rotateY(-90deg) translateX(3.5rem);
    transform-origin: right;
  }
  .left-side {
    transform: rotateY(90deg) translateX(-3.5rem);
    transform-origin: left;
  }
  .active .top-side {
    transform: rotateX(90deg) translateZ(8rem);
  }
  .active .bottom-side {
    transform: rotateX(90deg) translateZ(-8rem);
  }
  .active .front-side {
    transform: translateZ(8rem);
  }
  .active .back-side {
    transform: translateZ(-8rem);
  }
  .active .right-side {
    transform: rotateY(-90deg) translateX(8rem);
    transform-origin: right;
  }
  .active .left-side {
    transform: rotateY(90deg) translateX(-8rem);
    transform-origin: left;
  }
}
@media screen and (min-width: 1440px) {
  .boxes {
    margin-top: 25vh;
  }
}
.page {
  margin-top: 20rem;
}

.boutons {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  color: #000000;
  width: 100vw;
  padding: 2.4rem;
  gap: 5rem;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

pre {
  display: flex;
  background-color: #000000;
  max-width: 80vw;
  max-height: -moz-fit-content;
  max-height: fit-content;
  font-family: "Courier New", Courier, monospace;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  overflow: auto;
}
pre button {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
}

code {
  color: #ffffff;
}

.bouton {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.bouton__1 {
  text-align: center;
  background-color: #6f9ef6;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.bouton__1:hover {
  background-color: #906109;
}
.bouton__2 {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1rem 2rem;
  box-shadow: #000 0 1px 3px 0;
  cursor: pointer;
  transition: all 0.3s;
}
.bouton__2:hover {
  box-shadow: #000 0 4px 12px 0;
  transform: translateY(-1px);
}
.bouton__3 {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #e93a3a;
  background: linear-gradient(144deg, #e93a3a 60%, #fda1a1 80%);
  color: #fff;
  border-radius: 5px;
  box-shadow: #4e1313 0 2px 4px, #4e1313 0 7px 13px -3px, #4e1313 0 -3px 0 inset;
  padding: 1rem 1.5rem;
  transition: box-shadow 0.15s, transform 0.15s;
  will-change: box-shadow, transform;
  cursor: pointer;
  transition: all 0.3s;
}
.bouton__3:hover {
  box-shadow: #4e1313 0 4px 8px, #4e1313 0 7px 13px -3px, #e93a3a 0 -3px 0 inset;
  transform: translateY(-2px);
}
.bouton__3:active {
  box-shadow: #e93a3a 0 3px 7px inset;
  transform: translateY(2px);
}
.bouton__4 {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1rem 2rem;
  box-shadow: transparent 0 0 0 3px, #000 0 3px 5px;
  cursor: pointer;
  transition: all 0.1s;
}
.bouton__4:hover {
  box-shadow: #000 0 0 0 3px, transparent 0 0 0 0;
  border: 2px solid #000;
}
.bouton__5 {
  background-color: #fff;
  color: #000;
  border-radius: 40rem;
  box-shadow: #a6a9ac 0 -12px 6px inset;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.1s;
}
.bouton__5:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}
.bouton__5:active {
  transform: scale(1.025);
}
.bouton__6 {
  background-color: #000;
  border: 5px solid #e9a33a;
  color: #fff;
  border-radius: 50rem;
  padding: 2rem 2.5rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.bouton__6:hover {
  background-color: #e9a33a;
}
.bouton__6:active {
  background-color: #000;
  border: 5px solid #000;
}
.bouton__7 {
  padding: 0.6rem 1rem;
  border: 4px solid black;
  background-color: transparent;
  color: black;
  font-weight: bolder;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.bouton__7:hover {
  transform: scale(1.2) rotate(10deg);
  background-color: black;
  color: white;
}
.bouton__7:active {
  transform: scale(1);
}
.bouton__8 {
  position: relative;
  overflow: hidden;
  height: 4rem;
  padding: 0 2rem;
  border-radius: 50rem;
  background: #000000;
  background-size: 400%;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.bouton__8:hover::before {
  transform: scaleX(1);
}
.bouton__8::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(90deg, rgb(64, 62, 125) 0%, rgb(126, 122, 245) 100%);
  transition: all 0.4s;
}
.bouton__8:active {
  scale: 0.5;
}
.bouton__8--content {
  position: relative;
  z-index: 1;
  color: white;
}
.bouton__9 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 10rem;
  height: 4rem;
  border: none;
  padding: 0 2rem;
  background-color: #6f9ef6;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #4d6fac;
  cursor: pointer;
  transition: all 0.2s;
}
.bouton__9--svg {
  width: 1.3rem;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  fill: white;
  transition: all 0.2s;
}
.bouton__9:hover {
  color: transparent;
}
.bouton__9:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.2s;
}
.bouton__9:active {
  transform: translate(3px, 3px);
  transition-duration: 0.2s;
  box-shadow: 2px 2px 0px #4d6fac;
}
.bouton__10 {
  padding: 2rem 4rem;
  border-radius: 5rem;
  border: 0;
  background-color: black;
  color: white;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.5s;
}
.bouton__10:hover {
  letter-spacing: 3px;
  background-color: hsl(118, 96%, 55%);
  color: black;
  box-shadow: rgb(57, 220, 24) 0px 7px 29px 0px;
}
.bouton__10:active {
  letter-spacing: 3px;
  background-color: hsl(118, 96%, 55%);
  color: black;
  box-shadow: rgb(57, 220, 24) 0px 7px 29px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.bouton__11 {
  position: relative;
  font-size: 1.6rem;
  padding: 2rem 4rem;
  background-color: #703366;
  border: none;
  border-radius: 10px;
  color: white;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.5s;
}
.bouton__11::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(112, 51, 102) 50%, rgb(112, 51, 102) 60%);
  border-radius: 0 0 0.5rem 0;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.bouton__11:hover::before {
  width: 3.6rem;
  height: 3.6rem;
}
.bouton__11:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}
.bouton__12 {
  display: inline-block;
  border-radius: 5rem;
  border: none;
  background: #2f3dfe;
  font-family: inherit;
  text-align: center;
  font-size: 1.6rem;
  box-shadow: 0px 14px 56px -11px #2f3dfe;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  color: #faeaeb;
  cursor: pointer;
  transition: all 0.3s;
}
.bouton__12--span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.bouton__12--span::after {
  content: "click";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2rem;
  transition: 0.6s;
}
.bouton__12:hover span {
  padding-right: 3.55rem;
}
.bouton__12:hover span::after {
  opacity: 4;
  right: 0;
}

@media screen and (min-width: 1024px) {
  pre {
    max-width: 30rem;
    max-height: 30rem;
  }
}