@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a,
a:hover,
a:visited {
  color: #000000;
  text-decoration: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  /*alignement correct des images*/
}

body {
  font-size: 1.6rem; /* 16px par défaut */
  font-family: "Metal Mania", system-ui;
  background-color: #ffffff;
  color: #000000;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 1rem 0.5rem;
  z-index: 2;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img {
  padding: 1rem 0.5rem;
}

/**** Burger **********/
header p.burger {
  line-height: 1;
  font-size: 3rem;
  color: #000000;
}

/* Ajout de l'icône "burger" */
header p.burger::before {
  content: "☰";
}

/*** Menu à déployer **********/
header nav {
  z-index: 999; /* Pour placer le menu au-dessus des autres éléments */
  position: absolute; /* Pour créer un calque spécial pour le menu */
  top: 0; /* position en y*/
  left: -100vw; /* position en x */
  height: 100vh; /* vh = viewport height. 100vh = toute la hauteur de la fenêtre du navigateur */
  width: 100vw; /* vw = viewport width. 100vw = toute la largeur de la fenetre du navigateur */
  font-size: 2.5rem;
  text-align: center;
  background: #4F4481;
  padding: 1.2rem 2rem;
  transition: 0.5s; /* ajout d'une durée de transition */
}

nav.ouvert {
  left: 0; /* Ramener le décalage du menu à 0 */
}

/**** Icone de fermeture du menu */
#fermeture_menu {
  text-align: right;
  border: none;
  padding: 0;
  padding-bottom: 2rem;
}

/* Ajout de l'icône de fermeture */
#fermeture_menu::before {
  content: "✖";
  color: #ffffff;
}

header nav li {
  border-bottom: solid 1px #ffffff;
  padding: 2.5rem 0;
}

header nav li:last-of-type {
  border: none;
}

header nav ul a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
header nav ul a:visited {
  color: #64FF57;
}

header nav ul a:hover {
  color: #ffffff;
}

/* Responsive MQ */
@media all and (min-width: 768px) {
  #fermeture_menu, #ouverture_menu {
    display: none;
  }
  header {
    flex-wrap: wrap;
    padding: 0;
  }
  header nav {
    position: static;
    height: auto;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 1.5rem;
    background-color: #4F4481;
    padding: 0 1rem;
  }
  header nav ul {
    display: flex;
    justify-content: center;
  }
  header nav ul li {
    transition: 0.5s all ease;
    border: none;
    padding: 1rem;
  }
  header nav ul li:hover {
    border-color: #ffffff;
    background-color: #000000;
  }
}
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
  color: #000000;
  width: 100vw;
  min-height: 100dvh;
}
.presentation__titre {
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  z-index: 1;
  filter: drop-shadow(2px 1px 4px #ffffff);
}
.presentation__color {
  color: #4F4481;
}
.presentation__text {
  width: 70vw;
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  z-index: 1;
  filter: drop-shadow(2px 1px 4px #ffffff);
}
.presentation__change {
  color: #4F4481;
  transition: color 0.2s;
}
.presentation__btn {
  width: 15rem;
  min-height: 4rem;
  padding: 2rem;
  z-index: 1;
  background-color: #4F4481;
  color: #000000;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Metal Mania", system-ui;
  border: none;
  border-radius: 10px;
  margin-top: 3.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
  text-align: center;
}
.presentation__btn-change {
  filter: invert(100%);
}
.presentation__img {
  width: 40vw;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}

@media screen and (min-width: 1024px) {
  .presentation__titre {
    font-size: 10vw;
  }
  .presentation__text {
    font-size: 3vw;
  }
  .boxes {
    margin-top: 25vh;
    width: 40%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 150rem;
  }
  .active.box {
    top: 0;
    left: 0;
    transition: all 0.5s;
  }
  .box {
    transform-style: preserve-3d;
    transform: rotateY(45deg) rotateX(30deg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
  }
  @keyframes boxAnim {
    0% {
      transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }
  .box-1 {
    left: -25rem;
    top: -6rem;
    animation: boxAnim 100s infinite linear;
  }
  .box-2 {
    left: -11rem;
    top: -23rem;
    animation: boxAnim 100s -10s infinite linear;
  }
  .box-3 {
    left: 10rem;
    top: -23rem;
    animation: boxAnim 100s -20s infinite linear;
  }
  .box-4 {
    left: 25rem;
    top: -6rem;
    animation: boxAnim 100s -30s infinite linear;
  }
  .box-5 {
    left: 22rem;
    top: 13rem;
    animation: boxAnim 100s -40s infinite linear;
  }
  .box-6 {
    left: 0;
    top: 25rem;
    animation: boxAnim 100s -50s infinite linear;
  }
  .box-7 {
    left: -21rem;
    top: 14rem;
    animation: boxAnim 100s -60s infinite linear;
  }
  .active.box div {
    width: 16rem;
    height: 16rem;
    transition: all 0.2s 0.5s ease-in-out;
  }
  .box div {
    width: 7rem;
    height: 7rem;
    background-color: #4F4481;
    position: absolute;
    opacity: 0.8;
    box-shadow: 0.1rem 0.1rem 0.1rem #eee inset, -0.1rem -0.1rem 0.1rem #eee inset, 0.1rem 0.1rem 3.5rem rgba(255, 255, 255, 0.2), -0.1rem -0.1rem 3.5rem rgba(255, 255, 255, 0.2);
  }
  .box-1 div {
    background-color: #64FF57;
  }
  .box-2 div {
    background-color: #4F4481;
  }
  .box-3 div {
    background-color: #2368FB;
  }
  .box-4 div {
    background-color: #FF321A;
  }
  .box-5 div {
    background-color: #FE86FF;
  }
  .box-6 div {
    background-color: #04EEFF;
  }
  .box-7 div {
    background-color: #FFCD01;
  }
  .top-side {
    transform: rotateX(90deg) translateZ(3.5rem);
  }
  .bottom-side {
    transform: rotateX(90deg) translateZ(-3.5rem);
  }
  .front-side {
    transform: translateZ(3.5rem);
  }
  .back-side {
    transform: translateZ(-3.5rem);
  }
  .right-side {
    transform: rotateY(-90deg) translateX(3.5rem);
    transform-origin: right;
  }
  .left-side {
    transform: rotateY(90deg) translateX(-3.5rem);
    transform-origin: left;
  }
  .active .top-side {
    transform: rotateX(90deg) translateZ(8rem);
  }
  .active .bottom-side {
    transform: rotateX(90deg) translateZ(-8rem);
  }
  .active .front-side {
    transform: translateZ(8rem);
  }
  .active .back-side {
    transform: translateZ(-8rem);
  }
  .active .right-side {
    transform: rotateY(-90deg) translateX(8rem);
    transform-origin: right;
  }
  .active .left-side {
    transform: rotateY(90deg) translateX(-8rem);
    transform-origin: left;
  }
}/*# sourceMappingURL=main.css.map */