
.page{
    margin-top: 20rem;
}


.boutons{ // alignement de tous les btn //
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    color: $text;
    width: 100vw;
    padding: 2.4rem;
    gap: 5rem;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

pre{
    display: flex;
    background-color: $text;
    max-width: 80vw;
    max-height: fit-content;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    overflow: auto;

    & button{
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 1.6rem;
        padding: 0.5rem 1rem;
        background-color: $background;
        color: $text;
        border-radius: 5px;
    }
}

code{
    color: $background;
}

.bouton{ // espacement interne des btn //
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;


    &__1{ // btn numéro 1 //
        text-align: center;
        background-color: #6f9ef6;
        color: #fff;
        padding: 1rem;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: all .3s;

        &:hover{
            background-color: #906109;
        }
    } // fin btn numéro 1 //

    &__2{ // btn numéro 2 //
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 1rem 2rem;
        box-shadow: #000 0 1px 3px 0;
        cursor: pointer;
        transition: all .3s;
        
        &:hover{
            box-shadow: #000 0 4px 12px 0;
            transform: translateY(-1px);
        }
    } // fin btn numéro 2 //

    &__3{ // btn numéro 3 //
        appearance: button;
        background-color: #e93a3a;
        background: linear-gradient(144deg, #e93a3a 60%, #fda1a1 80%);
        color: #fff;
        border-radius: 5px;
        box-shadow: #4e1313 0 2px 4px,#4e1313 0 7px 13px -3px,#4e1313 0 -3px 0 inset;
        padding: 1rem 1.5rem;
        transition: box-shadow .15s,transform .15s;
        will-change: box-shadow,transform;
        
        cursor: pointer;
        transition: all .3s;
        
        &:hover{
            box-shadow: #4e1313 0 4px 8px,#4e1313 0 7px 13px -3px,#e93a3a 0 -3px 0 inset;
            transform: translateY(-2px);
        }

        &:active{
            box-shadow: #e93a3a 0 3px 7px inset;
            transform: translateY(2px);
        }
    } // fin btn numéro 3 //

    &__4{ // btn numéro 4 //
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 1rem 2rem;
        box-shadow: transparent 0 0 0 3px,#000 0 3px 5px;
        cursor: pointer;
        transition: all .1s;
        
        &:hover{
            box-shadow: #000 0 0 0 3px, transparent 0 0 0 0;
            border: 2px solid #000;
        }
    } // fin btn numéro 4 //

    &__5{ // btn numéro 5 //
        background-color: #fff;
        color: #000;
        border-radius: 40rem;
        box-shadow: #a6a9ac 0 -12px 6px inset;
        padding: 1rem 2rem;
        cursor: pointer;
        transition: all .1s;
        
        &:hover{
            background-color: #FFC229;
            box-shadow: #FF6314 0 -6px 8px inset;
            transform: scale(1.125);
        }

        &:active{
            transform: scale(1.025);
        }
    } // fin btn numéro 5 //

    &__6{ // btn numéro 6 //
        background-color: #000;
        border: 5px solid #e9a33a ;
        color: #fff;
        border-radius: 50rem;
        padding: 2rem 2.5rem;
        
        cursor: pointer;
        transition: all .2s ease-out;
        
        &:hover{
            background-color: #e9a33a;
        }

        &:active{
            background-color: #000;
            border: 5px solid #000;
        }
    } // fin btn numéro 6 //

    &__7{ // btn numéro 7 //
        padding: 0.6rem 1rem;
        border: 4px solid black;
        background-color: transparent;
        color: black;
        font-weight: bolder;
        font-size: 1.6rem;
        
        cursor: pointer;
        transition: all .2s ease-out;
        
        &:hover{
            transform: scale(1.2) rotate(10deg);
            background-color: black;
            color: white;
        }

        &:active{
            transform: scale(1);
        }
    } // fin btn numéro 7 //

    &__8{ // btn numéro 8 //
        position: relative;
        overflow: hidden;
        height: 4rem;
        padding: 0 2rem;
        border-radius: 50rem;
        background: #000000;
        background-size: 400%;
        border: none;
        cursor: pointer;
        transition: all 0.2s;

        &:hover::before{
            transform: scaleX(1);
        }

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: 0 50%;
            width: 100%;
            height: inherit;
            border-radius: inherit;
            background: linear-gradient(90deg, rgb(64, 62, 125) 0%, rgb(126, 122, 245) 100%);
            transition: all .4s;
        }

        &:active{
            scale: 0.5;
        }

        &--content{
            position: relative;
            z-index: 1;
            color: white;
        }// fin btn numéro 8 //
    } 

    &__9{ // btn numéro 9 //
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 10rem;
        height: 4rem;
        border: none;
        padding: 0 2rem;
        background-color: #6f9ef6;
        color: white;
        font-weight: 500;
        border-radius: 10px;
        box-shadow: 5px 5px 0px #4d6fac;
        cursor: pointer;
        transition: all 0.2s;

        &--svg{
            width: 1.3rem;
            position: absolute;
            right: 0;
            margin-right: 1rem;
            fill: white;
            transition: all 0.2s;
        }

        &:hover{
            color: transparent;

            & svg{
                right: 43%;
                margin: 0;
                padding: 0;
                border: none;
                transition-duration: 0.2s;
            }
        }

        &:active{
            transform: translate(3px , 3px);
            transition-duration: 0.2s;
            box-shadow: 2px 2px 0px #4d6fac;
        }
    } // fin btn numéro 9 //

    &__10{ // btn numéro 10 //
        padding: 2rem 4rem;
        border-radius: 5rem;
        border: 0;
        background-color: black;
        color: white;
        font-weight: 700;
        box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 1.6rem;
        cursor: pointer;
        transition: all 0.5s;

        &:hover{
            letter-spacing: 3px;
            background-color: hsl(118, 96%, 55%);
            color: black;
            box-shadow: rgb(57, 220, 24) 0px 7px 29px 0px;
        }

        &:active{
            letter-spacing: 3px;
            background-color: hsl(118, 96%, 55%);
            color: black;
            box-shadow: rgb(57, 220, 24) 0px 7px 29px 0px;
            transform: translateY(10px);
            transition: 100ms;
        }
    } // fin btn numéro 10 //

    &__11{ // btn numéro 11 //
        position: relative;
        font-size: 1.6rem;
        padding: 2rem 4rem;
        background-color: #703366;
        border: none;
        border-radius: 10px;
        color: white;
        box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
        cursor: pointer;
        transition: all 0.5s;

        &::before{
            position: absolute;
            content: "";
            height: 0;
            width: 0;
            top: 0;
            left: 0;
            background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgba(112,51,102,1) 50%, rgba(112,51,102,1) 60%);
            border-radius: 0 0 0.5rem 0;
            box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
            transition: 0.3s;
        }

        &:hover::before{
            width: 3.6rem;
            height: 3.6rem;
        }

        &:active{
            box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
            transform: translate(0.1em, 0.1em);
        }

        
    } // fin btn numéro 11 //

    &__12{ // btn numéro 12 //
        display: inline-block;
        border-radius: 5rem;
        border: none;
        background: #2f3dfe;
        font-family: inherit;
        text-align: center;
        font-size: 1.6rem;
        box-shadow: 0px 14px 56px -11px #2f3dfe;
        width: fit-content;
        padding: 1rem 2rem;
        color: #faeaeb;
        cursor: pointer;
        transition: all 0.3s;

       &--span{
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.3s;

            &::after{
                content: "click";
                position: absolute;
                opacity: 0;
                top: 0;
                right: -2rem;
                transition: 0.6s;
            }
       }

       &:hover span{
            padding-right: 3.55rem;
       }

       &:hover span::after{
            opacity: 4;
            right: 0;
       }


    
    } // fin btn numéro 12 //

    &__13{ // btn numéro 13 //
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #e3edf7;
        padding: 1.4rem;
        border-radius: 10px;
        box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
        border: 1px solid rgba(0,0,0,0);
        cursor: pointer;
        transition: transform 0.5s;
        cursor: pointer;
        transition: all 0.3s;

        &:hover{
            box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	      inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	      -0.5px -0.5px 0px rgba(255,255,255,1),
	      0.5px 0.5px 0px rgba(0,0,0,0.15),
	      0px 12px 10px -10px rgba(0,0,0,0.05);
            border: 1px solid rgba(0,0,0,0.1);
            transform: translateY(0.5rem);
        }

        & svg{
            transition: transform 0.5s;
        }

        & span{
            color: #0092E4;
            font-size: 1.6rem;
            margin-top: 2rem;
        }

        &:hover svg{
            transform: scale(0.9);
            fill: black;
            transition: all 0.5s;
        }

        &:hover span{
            color: black;
            transition: all 0.5s;
        }
    
    } // fin btn numéro 13 //

    &__14{ // btn numéro 14 //
        width: 15rem;
        height: 4rem;
        border-radius: 4rem;
        border: 1px solid #9898986c;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition-duration: 0.3s;
        cursor: pointer;

        &--span{
            width: 3rem;
            height: 3rem;
            background: linear-gradient(180deg, rgba(64,255,221,1) 0%, rgb(38, 188, 161) 100%);
            border-radius: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            z-index: 2;
            transition-duration: 0.3s;
        }

        &--svg{
            border-radius: 1px;
        }

        &--text{
            height: 100%;
            width: 11rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            z-index: 1;
            transition-duration: 0.3s;
            font-size: 1.6rem;
        }

        &:hover .bouton__14--span{
            width: 14rem;
            transition-duration: 0.3s;
        }

        &:hover .bouton__14--text{
            transform: translate(10px);
            width: 0;
            font-size: 0;
            transition-duration: 0.3s;
        }

        &:active{
            transform: scale(0.95);
            transition-duration: 0.3s;
        }
    
    } // fin btn numéro 14 //
}

@media screen and (min-width:1024px){
    
    pre{
        max-width: 30rem;
        max-height: 30rem;
        
    }

}