

$background: #ffffff;
$text: #000000;
$text-subtle: #d5d5d4;
$primary-color: #4F4481;
$secondary-color: #64FF57;
$box-color-1: #2368FB;
$box-color-2: #FF321A;
$box-color-3: #FE86FF;
$box-color-4: #04EEFF;
$box-color-5: #FFCD01;